
  <!-- Footer -->
  <section id="footer">
    <div class="footer container">
      <div class="brand"><h1><span>ne</span>T<span>Spo</span>rt</h1></div>
      <h2>Vocês nos fortalece</h2>
      <div class="social-icon">
        <div class="social-item">
          <a href="#"><img src="https://img.icons8.com/bubbles/100/000000/facebook-new.png"/></a>
        </div>
        <div class="social-item">
          <a href="#"><img src="https://img.icons8.com/bubbles/100/000000/instagram-new.png"/></a>
        </div>
        <div class="social-item">
          <a href="#"><img src="https://img.icons8.com/bubbles/100/000000/twitter.png"/></a>
        </div>
        <div class="social-item">
          <a href="#"><img src="https://img.icons8.com/bubbles/100/000000/behance.png"/></a>
        </div>
      </div>
      <p>Copyright © 2020 Caio Mateus e Barbara. All rights reserved</p>
    </div>
  </section>
  <!-- End Footer -->
