.rodape {
    display: flex;
    justify-content: space-between;
    gap: 2px;
    margin-top: 4rem;
}

@media screen and (min-width:1440px) {
    .rodape {
        display: flex;
        justify-content: space-between;
        gap: 2px;        
    }

    .parte {
        display: flex;
        margin-left: 2px;
    }

}