 <!-- Header -->
 <section id="header">
    <div class="header containerNet">
      <div class="nav-bar">
        <div class="brand">
          <a href="#hero"><h1><span>Caio</span>M <span>B</span>arros</h1></a>
        </div>
        <div class="nav-list">
          <div class="hamburger"><div class="bar"></div></div>
          <ul>
            <li><a href="#hero" data-after="Home">Home</a></li>
            <li><a href="../PayPal/pay.html" data-after="Service">Compras</a></li>
            

            <li>
              <a [routerLink]="['/produtos']" routerLinkActive="router-link-active" data-after="About">Produtos</a>
            </li>
            
            
            <li>
              <a [routerLink]="['/login']" routerLinkActive="router-link-active" data-after="About">login</a>
            </li>


            <li><a href="#contact" data-after="Contact">Contato</a></li>

            <li>
              <a [routerLink]="['/registro']" routerLinkActive="router-link-active" data-after="About">Registrar</a>
            </li>
            

          </ul>
        </div>
      </div>
    </div>
  </section>
  <!-- End Header -->