<app-header></app-header>
 


  <!-- Hero Section  -->
  <section id="hero">
    <div class="hero containerNet">
      <div>
        <h1>Seja bem vindo, <span></span></h1>
        <h1>Fitness <span></span></h1>
        <h1>Caio<span></span></h1>
        <a href="#projects" type="button" class="cta">Produtos</a>
      </div>
    </div>
  </section>
  <!-- End Hero Section  --> 

  <!-- Projects Section -->
  <section id="projects">
    <div class="projects containerNet">
      <div class="projects-header">
        <h1 class="section-title">Informações<span>nossas</span></h1>
      </div>
      <div class="all-projects">
        <div class="project-item">
          <div class="project-info">
            <h1>Projeto 1</h1>
            <h2>Academia é saúde</h2>
            <p> Compre conosco!</p>
          </div>
          <div class="project-img">
             <img src="./../../../assets/img/img-0.jpg" alt="img">
          </div>
        </div>
        <div class="project-item">
          <div class="project-info">
            <h1>Projeto 2</h1>
            <h2>Saúde</h2>
            <p>Os melhores suplementos aqui</p>
          </div>
          <div class="project-img">
            <img src="./../../../assets/img/img-1.png" alt="img">
          </div>
        </div>
        <div class="project-item">
          <div class="project-info">
            <h1>Projeto 3</h1>
            <h2>Roupas</h2>
            <p>Roupas fitness de todos os gostos</p>
          </div>
          <div class="project-img">
          <img src="./../../../assets/img/img-0.jpg" alt="img">
          </div>
        </div>
        <div class="project-item">
          <div class="project-info">
            <h1>Projeto 4</h1>
            <h2>Acessorios e equipamentos</h2>
            <p>Os melhores preços</p>
          </div>
          <div class="project-img">
               <img src="./../../../assets/img/img-1.png" alt="img">
          </div>
        </div>
        <div class="project-item">
          <div class="project-info">
            <h1>Projeto 5</h1>
            <h2>Todos os esportes</h2>
            <p>Vendemos equipamentos de todos os esportes</p>
          </div>
          <div class="project-img">
          <img src="./../../../assets/img/img-0.jpg" alt="img">
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- End Projects Section -->

  
 

  <!-- Contact Section -->
  <section id="contact">
    <div class="contact containerNet">
      <div><h1 class="section-title">Informações de<span>contato</span></h1></div>
      <div class="contact-items">
        <div class="contact-item">
          <div class="icon"><img src="https://img.icons8.com/bubbles/100/000000/phone.png"/></div>
          <div class="contact-info">
            <h1>Telefone</h1>
            <h2>0800 283 7334</h2>
            <h2>0800 0300 200</h2>
          </div>
        </div>
        <div class="contact-item">
          <div class="icon"><img src="https://img.icons8.com/bubbles/100/000000/new-post.png"/></div>
          <div class="contact-info">
            <h1>Email</h1>
            <h2>fumec@gmail.com</h2>
            <h2>caio@gmail.com</h2>
          </div>
        </div>
        <div class="contact-item">
          <div class="icon"><img src="https://img.icons8.com/bubbles/100/000000/map-marker.png"/></div>
          <div class="contact-info">
            <h1>Endereço</h1>
            <h2>Rua cobre numero 300</h2>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- End Contact Section -->

  <app-footer></app-footer>